.app {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-nav{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.App-nav li{
  display: flex;
  padding: 0 15px;
}
.App-nav a{
  text-decoration:none ;
}
.App-nav a:hover{
    text-decoration:underline ;
    color: red;
}
.App-nav a.active{
  color: crimson;
}
.field {
  border: none;
  background-color: #fff;
  padding: 8px 10px;
}
.field:focus{
  outline: none;
  border: 1px solid rebeccapurple;
}
button{
  outline: none;
  background-color: rebeccapurple;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 8px 10px;
}